
.card-informacoes {
  display: flex;
  flex-direction: column;
  max-width: 1100px;
  margin: 4rem auto;
  border-radius: 20px;
  overflow: hidden;
  background-color: #ffffff;
}

.card-topo {
  display: flex;
  align-items: stretch;
}

.card-topo img {
  width: 50%;
  height: auto;
  object-fit: cover;
  display: block;
}

.card-topo p {
  width: 50%;
    margin: 0;
    border-radius: 20px;
    padding: 2rem;
    background-color: #5a9bfc;
    color: white;
    font-size: 1rem;
    line-height: 1.6;
    display: flex;
    align-items: center;
}

.card-video {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  border-radius: 0 0 20px 20px;
}

