/* [project]/src/app/cadastro/styles.css [app-client] (css) */
:root {
  --branco-destaque: #fff;
  --azul-claro: #6598f7;
  --azul-escuro: #2b4d8c;
  --cinza-fundo: #d9d9d9;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}

body {
  background-color: var(--branco-destaque);
}

.register-container {
  background-color: var(--azul-escuro);
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  display: flex;
}

.register-card {
  background-color: var(--branco-destaque);
  border-radius: 12px;
  width: 100%;
  max-width: 450px;
  padding: 40px;
  box-shadow: 0 10px 25px #0000001a;
}

.register-header {
  text-align: center;
  margin-bottom: 30px;
}

.register-header h1 {
  color: var(--azul-escuro);
  margin-bottom: 10px;
  font-size: 28px;
}

.register-header p {
  color: #666;
  font-size: 14px;
}

.register-form {
  flex-direction: column;
  gap: 20px;
  display: flex;
}

.form-group {
  flex-direction: column;
  display: flex;
}

.form-group label {
  color: #444;
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 500;
}

.form-group input {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 12px 15px;
  font-size: 16px;
  transition: border-color .3s;
}

.form-group input:focus {
  border-color: var(--azul-claro);
  outline: none;
}

.form-group input::placeholder {
  font-size: 14px;
}

.form-options {
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  display: flex;
}

.remember-me {
  align-items: center;
  gap: 8px;
  display: flex;
}

.remember-me input[type="checkbox"] {
  accent-color: var(--azul-claro);
  width: 16px;
  height: 16px;
}

.forgot-password {
  color: var(--azul-claro);
  text-decoration: none;
  transition: color .3s;
}

.forgot-password:hover {
  color: var(--azul-escuro);
  text-decoration: underline;
}

.register-button {
  background-color: var(--azul-claro);
  color: var(--branco-destaque);
  cursor: pointer;
  border: none;
  border-radius: 8px;
  align-content: center;
  padding: 14px;
  font-size: 16px;
  font-weight: 500;
  transition: background-color .3s;
}

.register-button:hover {
  background-color: var(--azul-escuro);
}

.button-container {
  text-align: center;
}

.register-footer {
  text-align: center;
  color: #666;
  margin-top: 30px;
  font-size: 14px;
}

.signup-link {
  color: var(--azul-claro);
  font-weight: 500;
  text-decoration: none;
  transition: color .3s;
}

.signup-link:hover {
  color: var(--azul-escuro);
  text-decoration: underline;
}

@media (width <= 500px) {
  .register-card {
    padding: 25px;
  }

  .form-options {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}

.form-group select {
  appearance: auto;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 100%;
  padding: 12px 15px;
  font-size: 14px;
}

.form-group select:focus {
  border-color: #6598f7;
  outline: none;
  box-shadow: 0 0 0 2px #6598f733;
}

.form-group select option {
  padding: 10px;
}

.student-state-checkbox {
  align-items: center;
  gap: 1.5rem;
  margin-top: .5rem;
  display: flex;
}

.student-state-checkbox label {
  cursor: pointer;
  align-items: center;
  gap: .5rem;
  font-size: .8rem;
  display: flex;
}

.student-state-checkbox input[type="radio"] {
  accent-color: #2563eb;
  transform: scale(1.2);
}

.form-group.image {
  flex-direction: column;
  gap: .5rem;
  max-width: 300px;
  margin-bottom: 1rem;
  display: flex;
}

.form-group.image label {
  font-weight: bold;
  font-size: .5 rem;
  color: #333;
}

.form-group.image input[type="file"] {
  cursor: pointer;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: .4rem;
  font-size: .8rem;
  transition: border .3s;
}

.form-group.image input[type="file"]:hover {
  border-color: #007bff;
}

.form-group.image .preview {
  object-fit: cover;
  border: 1px solid #ddd;
  border-radius: 8px;
  max-width: 100%;
  max-height: 200px;
  margin-top: .5rem;
}

.submit-button {
  background-color: var(--azul-claro);
  color: var(--branco-destaque);
  cursor: pointer;
  border: none;
  border-radius: 8px;
  align-content: center;
  margin-right: 10px;
  padding: 14px;
  font-size: 16px;
  font-weight: 500;
  transition: background-color .3s;
}

/*# sourceMappingURL=src_app_cadastro_styles_css_f9ee138c._.single.css.map*/